mixin Welcome()
    +b.SECTION.welcome
        +e.row
            +e.col 
                +e.logo NS 
                +e.H1.heading NS UI Boilerplate 
                +e.P.text This is where you start